<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Statix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Statix.Properties.Settings>
            <setting name="PaddingBetweenCheckBoxes" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="StandartPadding" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PaddingBetweenGroupBoxes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PaddingFromBtnSelectAll" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PaddingFromBtnCleanAll" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="FontStandart" serializeAs="String">
                <value>Times New Roman, 14.25pt</value>
            </setting>
            <setting name="ColorTableError" serializeAs="String">
                <value>228, 36, 36</value>
            </setting>
            <setting name="ColorTableOK" serializeAs="String">
                <value>112, 173, 71</value>
            </setting>
            <setting name="ColorTableCaption" serializeAs="String">
                <value>91, 155, 213</value>
            </setting>
            <setting name="FontBold" serializeAs="String">
                <value>Times New Roman, 14.25pt, style=Bold</value>
            </setting>
        </Statix.Properties.Settings>
    </applicationSettings>
</configuration>